@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bona+Nova&family=DM+Sans:opsz@9..40&family=Dela+Gothic+One&family=Gabarito:wght@600&family=Josefin+Sans:ital,wght@0,700;1,400&family=Jost&family=Lato:wght@700&family=Manrope:wght@600&family=Poppins&family=Public+Sans&family=Raleway:ital@1&family=Roboto:wght@100&family=Space+Grotesk:wght@500&family=Vesper+Libre:wght@500&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bona+Nova&family=DM+Sans:opsz@9..40&family=Dela+Gothic+One&family=Gabarito:wght@600&family=Josefin+Sans:ital,wght@0,700;1,400&family=Jost&family=Karla:wght@700&family=Lato:wght@700&family=Manrope:wght@600&family=Poppins&family=Public+Sans&family=Raleway:ital@1&family=Roboto:wght@100&family=Space+Grotesk:wght@500&family=Vesper+Libre:wght@500&family=Young+Serif&display=swap');

body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    margin: 0;
    text-align: center;
}

.navbar {
    background-color: #ff65a5;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    margin-right: 10px;
}

.navbar-left a{
    font-size: 24px;
    font-weight: 100;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a{
    background: #ffffff;
    border-color: #000;
    border: solid;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display:inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(147, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: inherit;
    background-color: #fa87b7;
    border-color:#e05f95;
    border-radius: 1px;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: #000;
    padding: 9px 16px;
    margin: 0 5px;
    
}

.circle{
    border-radius: 20px;
}

.navbar a:hover {
    color: #000000;
    background-color: #FA0C6F;
}

h1 {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: black;
    font-weight: bolder;
    width: 75%;
    margin: 55px auto 20px;
    font-size: 75px;
}

h2 {
    font-family: 'Onest', sans-serif;
    text-align: center;
    font-size: 42px;
}

.learn-more {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: #BCDBDD;
    padding: 10px 20px;
    margin: 20px auto;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
    font-size: 25px;
}

.learn-more:hover {
    color: #BCDBDD;
    background-color: #000;
}

.container {
    display: flex;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    background: #BCDBDD;
}

.left-column .active{
    background-color: #5B6C6D;
}

.nav-btn {
    background-color: #85A9AB;
    border: none;
    padding: 15px;
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

.right-column {
    flex: 3;
}

.img-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
}
.text-section {
    margin: 20px;
    text-align: left;
    font-family:'DM Sans', sans-serif;
    font-size: 23.8px;
}

.study-image {
    width: 340px;
    border: none;
    margin-bottom: 20px;
    border-radius: 20px;
}

.home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF65A5;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Agbalumo', sans-serif;
}

.text-title{
    margin: 50px;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    color: #FA0C6F;
}

.text-title2{
    margin: 50px;
    text-align: center;
    font-family: '', sans-serif;
    font-size: 30px;
    color: #FA0C6F;
}

.text-body{
    margin: 30px auto;
    width: 80%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.background{
    background-color: #FFB6CA;
    padding: 20px;
    border-radius: 20px;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 'Playfair', 'Italic';
    padding: 0 30px;
    background: #A5A9AB;
}

.footer-links {
    display: flex;
    gap: 15px; 
}

.footer-links a {
    font-size: 24px; 
    color: inherit; 
    text-decoration: none;
}

h3 {
    font-size: 20px;
    font-family: 'DM sans', serif;
    color:#FA0C6F
    
}



